.player-div {
    float: center;
    width: 50%;  
}
.player-div2 {
    float: center;
    width: 50%;  
}
.player-div3 {
    float: center;
    width: 50%;  
}
.player-div4 {
    float: center;
    width: 50%;  
}
.player-div5 {
    float: center;
    width: 50%;  
}
.resize2{
   max-width:60%;
   max-height:40%;
}
.resize{
   max-width:70%;
   max-height:10%;
}
.resize3{
   max-width:70%;
   max-height:10%;
}
.mission-div {
    float: left;
    width: 30%;  
}
.mission-div2 {
   float: left;  
   width: 10%;
}
.mission-div3 {
   float: left;
   width: 15%;
}
.game-div {
    float: center;
    width: 30%;  
}
.title {
    float: center;
    width: 100%;  
}
.background-div {
    float: center;
    width: 80%;  
}
.longestTrain {
    float: center;
    width: 50%;  
}
.total {
    float: right;
}